html, body {
  height: 100%;
  width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
  
}
body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  
  
}

* {
  font-family: "Raleway" ;
  box-sizing: border-box;
}

.top-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 50px;
  padding: 1 rem;
  background: linear-gradient(to left, #6143f4, #03066d);
}
.menu{
  list-style: none;
}
.menu {
 
  flex-direction: row;
  list-style: none ;
  float: left;
  margin: 0;
  padding: 0;
  
/*   display: flex; */
}

.menu > li {
  display: inline-block;
  margin: 0 1rem;
  color: white;
  
  
}


 








@media (max-width: 700px) {
  
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  #Contacts{
    flex-wrap: wrap;
  }
}


#Home{
 display: flex;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  text-decoration: none;
  margin-bottom: 400px;

}

.presentation-text,span{
  font-size: 50px;
  align-items: right;
  color: whitesmoke;
  text-decoration: none;
  
  
}

#about-me-text{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 40px;
  margin-bottom: 300px;
 
}

main{
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#Projects{
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin-bottom: 100px;

}

  


#Projects,img{
  width: 250px;
  height: 250px;
  border-radius: 135px;
  margin-left: 2rem;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

#Projects,p{
  text-align: center;
  margin-left: 2rem;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin-bottom: 100px;
}

footer{
  display: inline-table;
  height: 120px;
  width: 100%;
  background-color: black;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  
  
  
}
#Contatcts{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  display: inline-block;
  -ms-flex-item-align: end;




}
.image-linkedin,.image-github,.image-whatsapp{
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}




